name: Unlist NuGet

on:
  workflow_dispatch:
  # release:
  #   types: [deleted]

env:
  BRANCH_NAME: ${{ github.event.release.target_commitish }}
  PROJECT_NAME: ${{ vars.PROJECT_NAME }}

permissions:
  contents: write

jobs:
  publish:
    name: unlist on nuget
    runs-on: windows-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    # Unlist
    - name: Unlist Deleted Tag
      uses: darenm/unlist-nuget@v1
      with:
        NUGET_PACKAGE: ${{ env.PROJECT_NAME }} # Full Package ID
        VERSION_REGEX: ${{ github.event.release.tag_name || github.event.inputs.version }}
        NUGET_KEY: ${{ secrets.NUGET_API_KEY }} # nuget.org API key
